$background-color: #E35224
$background-color-1: #117C57
$white: #FFFFFF

$large-font: 32px
$medium-font: 24px
$small-font: 14px
$tiny-font: 10px

$mobile-large-font: 16px
$mobile-medium-font: 14px
$mobile-small-font: 11px

$iphone-large-break: 420px
$iphone-medium-break: 375px
$iphone-small-break: 320px


.body
  background-color: $background-color
  box-sizing: border-box
  color: $white
  font-family: 'Montserrat', sans-serif
  font-weight: 300
  height: 100vh
  padding: 20px
  transition: background-color 0.2s ease-in-out
  width: 100vw
  font-weight: 200


.header
  width: 100%
  height: 50px

.title
  font-family: Futura,Trebuchet MS,Arial,sans-serif
  font-size: $large-font


.main
  display: flex
  flex-direction: column
  height: calc(100% - 100px)
  justify-content: center
  text-align: center
  width: 100%

.content
  font-size: $medium-font

  @media screen and (max-width: $iphone-large-break)
    font-size: $mobile-large-font

  @media screen and (max-width: $iphone-medium-break)
    font-size: $mobile-medium-font

  @media screen and (max-width: $iphone-small-break)
    font-size: $mobile-small-font

  &__text
    line-height: 1.3
    transition: all 0.2s ease-in-out

    &--hex
      display: inline
      cursor: pointer
      font-size: $large-font
      letter-spacing: 1.4px
      font-weight: 200

      // &:hover
      //   font-weight: 400

      &::selection
        background-color: black
        color: white

  &__buttons
    display: flex
    justify-content: space-between
    margin: 40px auto 0 auto
    width: 150px

.footer
  align-items: flex-end
  display: flex
  flex-direction: row
  font-size: 25px
  height: 50px
  justify-content: space-between
  line-height: 25px
  text-align: right
  width: 100%

.button
  background-color: transparent
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  border: none
  cursor: pointer
  height: 25px
  position: relative
  transform: scale(1)
  transition: transform 0.1s ease-in-out
  width: 25px
  z-index: 2
  -webkit-appearance: none

  &:hover:enabled
    transform: scale(1.1)

  &:focus
    outline: none

  &:disabled
    cursor: auto
    opacity: 0

  &--github
    background-image: url('/dist/img/github.svg')

  &--brush
    background-image: url('/dist/img/notebook.svg')

  &--bucket
    background-image: url('/dist/img/bucket.svg')
    height: 50px
    transition: transform 0.2s ease-in-out
    transform: translateX(50px) rotate(0)
    width: 50px

    &:hover:enabled
      transform: translateX(50px) rotate(0.5turn)

  &--copy
    background-image: url('/dist/img/pantone.svg')
    background-position: center bottom
    background-size: 42px
    height: 50px
    position: relative
    transition: transform 0.2s ease-in-out
    transform: translateX(-50px)
    width: 50px
    z-index: -1

  &--close
    background-image: url('/dist/img/cross.svg')

  &--positioned
    opacity: 1
    transform: translateX(0) rotate(0)
    z-index: 0

    &:hover:enabled
      transform: scale(1.2) rotate(10deg)

  &--enable
    animation: scale 0.6s forwards

    @keyframes scale
      0%
        transform: scale(1)
        opacity: 0
      50%
        transform: scale(1.5)
      100%
        transform: scale(1)
        opacity: 1

.credits
  opacity: 1
  transition: opacity 0.3s ease-in-out

  &--hide
    opacity: 0
    transition: opacity 0.1s ease-in-out

  &__link
    border-bottom: 2px solid transparent
    color: $white
    text-decoration: none
    transition: border-color 0.2s ease-in-out

    &:hover
      border-bottom: 2px solid $white

.menu
  align-items: center
  background-color: black
  border-radius: 70%
  bottom: 0
  box-sizing: border-box
  display: flex
  height: 65px
  justify-content: space-between
  left: 0
  padding: 0 20px 0 65px
  position: fixed
  transform: translateY(100%)
  transition: all 0.2s ease-in-out
  width: 100%

  &--enable
    animation: reveal 0.6s forwards

    @keyframes reveal
      0%
        transform: translateY(100%)
      50%
        transform: translateY(70%)
      100%
        transform: translateY(100%)

  &--reveal
    transform: translateY(90%)

  &--show
    transform: translateY(0)
    border-radius: 0

.colors
  align-content: flex-start
  box-sizing: border-box
  display: flex
  flex-direction: column
  flex-wrap: wrap
  height: 100%
  justify-content: center
  position: relative
  margin: 0 20px 0 0
  overflow: hidden
  width: 100%

  &__label
    font-size: 15px
    padding: 0px 5px
    text-align: left
    width: 100px

  &__square
    border: none
    border-radius: 1px
    height: 15px
    margin: 0 5px 0 0
    transform: scale(1)
    transition: transform 0.2s ease-in-out
    width: 15px
    -webkit-appearance: none

    &:focus
      outline: none
